<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-buttom">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>

            </ul>
        </nav>
</header>
    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre y apellido</label>
            <input type="text" name="Nombre" class="control">
        </div>
        <div class="control-formulario">
            <label>Nombre de usuari@</label>
            <input type="text" name="usuario" class="control">
        </div>
        <div class="control-formulario">
            <label>Email</label>
            <input type="text" name="Email" class="control">
        </div>
        <div class="control-formulario">
            <label>Fecha de nacimiento</label>
            <input type="text" name="nacimiento" class="control">
        </div>
        <div class="control-formulario">
            <label>Domicilio</label>
            <input type="text" name="domicilio" class="control">
        </div>
        <div class="control-formulario">
            <label>Perfil de usuario</label>
            <select name="perfil" class="control">
                <option value="comprar">Comprar</option>
                <option value="vender">Vender</option>
            </select>
        </div>
        <div class="control-formulario">
            <label for="">Categorías de interés</label>
            <input type="checkbox" id="1" name="interes" value="Electro">
            <label for="1">Electro</label> 
            <input type="checkbox" id="2" name="interes" value="Moda">
            <label for="2">Moda</label>
            <input type="checkbox" id="3" name="interes" value="Hogar">
            <label for="3">Hogar</label>
            <input type="checkbox" id="4" name="interes" value="Juguetería"> 
            <label for="4">Juguetería</label>
            <input type="checkbox" id="5" name="interes" value="Vida sana">
            <label for="5">Vida sana</label>
        </div>
        <div class="control-formulario">
            <label>Foto de usuario</label>
            <input type="image" name="foto" class="control">
        </div>
        <div class="control-formulario">
            <label>Contraseña</label>
            <input type="text" name="contraseña" class="control">
        </div>
        <div class="control-formulario">
            <label>Repetir contraseña</label>
            <input type="text" name="repetir" class="control">
        </div>
    
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Enviar</button>
    
    
    </form>

    
</body>
</html>

